<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<h1>Details of @ViewBag.Name</h1>
<table>
    <tr>
        <th>UserId</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Created On</th>
    </tr>
    <tr>
        <td></td>
    </tr>

    
    <tr>
        <td>@ViewBag.Id</td>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.Email</td>
        <td>@ViewBag.Date</td>
    </tr>

</table>
